src/main/resources/godev_contract.xsd

<xs:schema
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://godev.com/soap/webservices/demo"
	targetNamespace="http://godev.com/soap/webservices/demo"
	elementFormDefault="qualified">

	<xs:element name="getXmlMessageRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="xmlMessage" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="getXmlMessageResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="xmlMessage" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>